@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', Arial, Helvetica, sans-serif;
}

body {
    background-color: beige; 
}

.header h2{
    text-align: center;
    font-size: 3em;
    padding: 1em;
}

.main form{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form input {
    padding: 0.4em;
    border: none;
    border-radius: 0.4em;
    background-color: bisque;
    border: 1px solid black;
}

form label {
    font-size: 1.4em;
}

form #button {
    width: 8em;
    font-size: 1.4em;
    margin-top: 20px;
    border-radius: 0.4em;
    padding: 0.1em;
    border: 1px solid rgb(53, 51, 51);
    background-color: burlywood;
}

#button:hover {
    background-color:rgb(172, 132, 80)
}



