@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', Arial, Helvetica, sans-serif;
}

body {
    background-color: beige; 
}

.header h2{
    text-align: center;
    font-size: 3em;
    padding: 1em;
}

table {
    margin: 0 auto;
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
	border-right: 1px solid black;
    padding: 0.8em 1.6em 0.8em 1.6em;
}

#button {
    width: 5em;
    font-size: 1.4em;
    margin-top: 3em;
    margin-left: 20em;
    border-radius: 0.4em;
    border: 1px solid rgb(53, 51, 51);
    background-color: burlywood;
}

#button:hover {
    background-color:rgb(172, 132, 80)
}

    
    